<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contract Reactor (for Ethereum)</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bignumber.js/bignumber.min.js"></script>
    <script src="bower_components/web3/dist/web3.js"></script><!--debugging-->
    <script src="bower_components/react/react.js"></script><!--debugging-->
    <script src="bower_components/react/JSXTransformer.js"></script>
    <script>
        if (typeof web3 === "undefined") {
            web3 = require('web3');
            window.web3 = web3;
        }

        //connect to either aleth/mist depending what is online. Prefer Mist as is supposed to be more usable one into the future.
        //this looks ugly. There must be better convention.
        try {
            web3.setProvider(new web3.providers.HttpProvider('http://127.0.0.1:8536')); //mist port
            console.log(web3.eth.blockNumber);
            console.log("Connected to Mist/Ethereum on port 8545");
        } catch(err) {
            console.log("Mist's RPC port is not online, or the port has changed.");
            try {
                web3.setProvider(new web3.providers.HttpProvider('http://127.0.0.1:8080')); //cpp-port
                console.log(web3.eth.blockNumber);
                console.log("Connected to Aleth/cpp-eth on port 8080");
            } catch(err) {
                console.log("AlethZero's RPC port is not online, or the port has changed.");
            }
        }
    </script>

</head>

<body>
<div class="container">
    <div id="top">
    </div>
    
    <div id="contracts">
    </div>

</div>

    <!-- Development Purposes. AlethZero is caching very aggressively -->
    <!-- Run web root where reactor.jsx is. -->
    <script>document.write('<script type="text/jsx" src="js/Header.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/InputWrapper.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/FunctionWrapper.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/DeployWrapper.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/ContractWrapper.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/reactor.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
    <script>document.write('<script type="text/jsx" src="js/script.jsx?dev=' + Math.floor(Math.random() * 1000) + '"\><\/script>');</script> 
</body>

</html>
