# System Cruft
# ================================================
.DS_Store
*.swp
*.swo

# secret stuff
# ================================================
secrets.json

# Generated stuff
# ================================================
build
node_modules
contracts/Standard_Token/config/development/contracts.json
contracts/Standard_Token/config/test/contracts.json
contracts/Standard_Token_Factory/config/development/contracts.json
contracts/Standard_Token_Factory/config/test/contracts.json
Token_Contracts/environments/test/contracts/
secrets.json


# Other
# ================================================
bower_components